<% form_for @snip do |f| %>
  <%= f.hidden_field :original_id %>
  <%= f.error_messages %>
  <div class="command">
    <%= f.label :command %>
    <%= f.text_field :command %>
  </div>
  <div class="uri">
    <%= f.label :uri, 'URI' %>
    <%= f.text_field :uri %>
  </div>
  <div class="note">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>
  <div class="buttons">
    <%= submit_tag 'Save' %>
    <%= link_to('Cancel', snips_path) %>
  </div>
<% end %>

<%= render :partial => 'help' %>
