<% content_for :atom_feed do %>
  <%= auto_discovery_link_tag :atom, user_waves_url(@user.username, :format => :atom) %>
<% end %>

<h2><%=h @user.username %> <%= bookmarklet(@user)%></h2>

<table class="waves">
  <%- @waves.each do |wave| -%>
    <tr>
      <td class="command"><%= link_to(h(wave.command), wave) %></td>
      <td><%=h wave.note %></td>
      <td class="host">(<%=h wave.host %>)</td>
      <td><%= link_to('Edit', edit_wave_path(wave)) if wave.user == current_user %></td>
      <td><%= copy_wave_button(wave) %></td>
    </tr>
  <%- end -%>
</table>

<p><%= link_to('Create a wave', new_wave_path) %></p>
