<!DOCTYPE html>
<html>
<head>
<title>Sinewave</title>
<%= stylesheet_link_tag 'reset', 'layout', 'waves_form' %>
<%= javascript_include_tag 'modernizr.min' %>
<%= yield :atom_feed -%>
</head>
<body>
<div id="container">
  <header>
    <h1><%= link_to('Sinewave', root_path) %></h1>
    <nav>
      <%= link_to('Home', root_path) %>
      <%- if current_user -%>
        <%= link_to(h(current_user.username), user_waves_path(current_user.username)) %>
        <%= link_to('Account', account_path) %>
        <%= link_to('Logout', logout_path) %>
        <%= bookmarklet(current_user, 'Your bookmarklet') %>
      <%- else -%>
        <%= link_to('Login', login_path) %> /
        <%= link_to('Sign up', new_account_path) %>
      <%- end -%>
    </nav>
  </header>
  <div>
    <%= yield %>
  </div>
</div>
<%= google_analytics_javascript %>
</body>
</html>