<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :email, 'Email <span class="hint">(used for <a href="http://gravatar.com/">Gravatars</a> not SPAM)</span>' %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :username, 'Username <span class="hint">(must be unique, can be changed)</span>' %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="buttons">
    <%= submit_tag 'Save' %>
  </div>
<% end %>
